/*  ==========================================================================
    Scrollbar
    ==========================================================================  */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #000000;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
    background: #000000;
}

::-webkit-scrollbar-track {
    background: #c7c7c7;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: #666666;
}

::-webkit-scrollbar-track:active {
    background: #333333;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

/*  ==========================================================================
    Base Class
    ==========================================================================  */

@font-face {
    font-family: 'Sentient';
    src: url(../fonts/Sentient-Regular.ttf);
}

:root {
    --font-logo: "Sentient", sans-serif;
    --font-base: "Lato", sans-serif;
    --font-heading: "Montserrat", sans-serif;
    --font-subHeading: "Poppins", sans-serif;

    --nav-bg-clr: #111;
    --body-bg-clr: #eee;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-base);
    background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
    /* background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); */

}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
    font-family: var(--font-base);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

.sr-section {
    min-height: 100vh;
    height: auto;
    padding: 10vh 0;

}

.sr-section-title {
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0px;
    font-family: var(--font-heading);
}

.sr-section-subtitle {
    text-align: center;
    text-transform: capitalize;
    font-family: var(--font-subHeading);
}

.sr-position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*  ==========================================================================
    Navigation Section
    ==========================================================================  */
.nav-section {
    height: 60px;
    /* background-color: var(--nav-bg-clr); */
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.logo-text h1 {
    font-family: var(--font-logo);
    font-weight: 600;
    color: #000;
    font-size: 25px;
    margin: 0;
}

.desktop-menu {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.desktop-menu li a {
    color: #000;
}

/* nav btn CSS */
.desktop-menu li .nav-link {
    text-transform: capitalize;
    --b: 2px;
    /* border thickness */
    --s: .45em;
    /* size of the corner */
    --color: #000;

    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background: conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;
    border: 0;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.desktop-menu li .nav-link:hover,
.desktop-menu li .nav-link:focus-visible {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: unset;
    /* color: #fff; */
}

.nav-link:active {
    background: #000;
    color: #fff;
}

/* Slick Nav Customization */
.mobile-menu {
    display: none;
}
.slicknav_menu{
    background: unset;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    /* padding: 7px; */
}

.mobile-menu .slicknav_nav {
    width: 200px;

    /* box-shadow: 6px 6px 8px 0px #8b8b8b; */
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.484);
    border-radius: 5px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    /* border: 1px solid rgba(0, 0, 0, 0.3); */
    position: absolute;
    top: 130%;
    right: 10px;
}

.mobile-menu .slicknav_nav a {
    color: #000;
    padding: 12px 10px;
    margin: 0;
    font-size: 15px;
    text-transform: capitalize;
}
.mobile-menu .slicknav_btn {
    margin: 0;
}

.mobile-menu .slicknav_nav a:hover {
    border-radius: 0;
    background-color:rgba(13, 110, 253, 0.25)
}

/*  ==========================================================================
    Hero Section
    ==========================================================================  */
.hero-image img {
    width: 400px;
    border: 1px solid #000;
}

.hero-content h5,
h3 {
    font-family: var(--font-subHeading);
    font-weight: 600;
}

.hero-content h1 {
    font-size: 60px;
    font-weight: 900;
    font-family: var(--font-heading);
}

.hero-content p {}

.gradient-text {
    background-color: #0093E9;
    /* background-image: linear-gradient(90deg, #0093E9 0%, #80D0C7 100%); */
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--font-heading);
}


.resume {
    display: inline-block;
    padding: 15px 0px;
}

.resume button {
    padding: 10px 12px;
    border: 2px solid #000;
    border-radius: 5px;
    color: #212121;
    z-index: 1;
    /* background-color: #e8e8e8; */
    background-color: #e8e8e8;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    position: relative;
    font-weight: 600;
    font-size: 14px;
    transition: all .4s ease-in-out;
    overflow: hidden;
}

.resume button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    /* background-color: #212121; */
    background-color: #212121;
    z-index: -1;
    transition: all .4s ease-in-out;
}

.resume button:hover {
    color: #e8e8e8;

}

.resume button:hover::before {
    width: 100%;
}


/*  ==========================================================================
    Skills Section
    ==========================================================================  */
.skills-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.skills-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 250px;
    border-radius: 10px;
    border: 1px solid #00000062;
    background-color: #f1f1f1;
    transition: all .5s;
    /* box-shadow: 6px 6px 8px 0px #8b8b8b; */
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3);


}

.skills-card:hover:nth-child(1) {
    box-shadow: 5px 5px 10px 0px rgba(255, 68, 0, 0.5);
    scale: 1.1;
}

.skills-card:hover:nth-child(2) {
    box-shadow: 5px 5px 10px 0px rgba(30, 143, 255, 0.5);
    scale: 1.1;
}

.skills-card:hover:nth-child(3) {
    box-shadow: 5px 5px 10px 0px #f7de1e83;
    scale: 1.1;
}

.skills-card:hover:nth-child(4) {
    box-shadow: 5px 5px 10px 0px #8211fa75;
    scale: 1.1;
}

.skills-card:hover:nth-child(5) {
    box-shadow: 5px 5px 10px 0px rgba(255, 68, 0, 0.5);
    scale: 1.1;
}

.skills-card:hover:nth-child(6) {
    box-shadow: 5px 5px 10px 0px rgba(30, 143, 255, 0.445);
    scale: 1.1;
}

.skills-card:hover:nth-child(7) {
    box-shadow: 5px 5px 10px 0px #484c8981;
    scale: 1.1;
}

.skills-card i {
    font-size: 100px;
}

.skills-card h5 {
    font-family: var(--font-heading);
}


/*  ==========================================================================
    Project Section
    ==========================================================================  */
.project-card {
    position: relative;
    padding: 10px;
    border-radius: 5px;
    height: 100%;


    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}


.project-card img {
    min-height: 250px;
}

.project-card-title {
    font-family: var(--font-heading);
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px 0px;
}

.project-card-text {
    font-family: var(--font-subHeading);
    line-height: 25px;
    word-spacing: 4px;
    padding-bottom: 80px;
}

.live-view {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -2%);
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background: #000000;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 8px 15px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    transition: all .2s ease-in-out;
}



.live-view:hover {
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, -3%);
}


/*  ==========================================================================
    Contact Section
    ==========================================================================  */
.contact-section {
    position: relative;
}

.copyright {
    position: absolute;
    padding: 0px 20px;
    width: 100%;
    background-color: #2b2b2b;
    color: #fff;
    bottom: 0;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
}

.social-links a {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 15px;
    transition: all .4s ease-in-out;
}

.social-links a:hover {
    background-color: #000;
}

.social-links a:hover i {
    scale: 1.3;
    color: #fff;
}

.social-links {
    padding: 20px 0px;
    display: flex;
    gap: 15px;
}

.social-links i {
    font-size: 35px;
    transition: scale .2s ease-in-out;
}

/* Email me */
.email-me {
    min-width: 130px;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    overflow: hidden;
    border-radius: 5px;
    border: none;
    background-color: #000
}

.email-me:hover {
    border-radius: 5px;
    padding-right: 24px;
    padding-left: 8px;
}

.email-me:hover:after {
    opacity: 1;
    right: 10px;
}

.email-me:after {
    content: "\2709";
    position: absolute;
    opacity: 0;
    font-size: 20px;
    line-height: 40px;
    top: 0;
    right: -20px;
    transition: 0.4s;
}